.left-container{
  background-color: turquoise;
  background-image: url("images/background-img.png");
  width: 65%;
  height: 100%;
  display: inline-block;
  margin: 0;
  position: absolute;
}

.right-container{
  background-color: #F0F2F4;
  width: 35%;
  height: 100%;
  display: inline-block;
  margin: 0;
  position: absolute;
  margin-left: 65%;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.css-input {
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #cccccc;
     background-color: #ffffff;
     color: #000000;
     border-style: solid;
     border-radius: 48px;
     box-shadow: 3px 1px 8px rgba(66,66,66,.75);
     margin: 1.5rem auto auto auto;
}
 .css-input:focus {
     outline:none;
}

.search-div{
  text-align: center;
  margin: 4rem;
  margin-top: 0;
  margin-left: 4.9rem;
  width: 50%;
}

.search-bar{
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
}


.search-icon{
  width: 2.7rem;
  float: left;
  margin:0;
  padding-top: 1.4rem;
  padding-left: 2.5rem;
  padding-right: 0;
  padding-bottom: auto;
}

.hidden{
  display: none;
}


.icons{
  text-align: center;
}

.cat-icon{
  width: 4rem;
  margin: 0.5rem;
}


.btn {
  background: #7cbfeb;
  background-image: -webkit-linear-gradient(top, #7cbfeb, #257bb0);
  background-image: -moz-linear-gradient(top, #7cbfeb, #257bb0);
  background-image: -ms-linear-gradient(top, #7cbfeb, #257bb0);
  background-image: -o-linear-gradient(top, #7cbfeb, #257bb0);
  background-image: linear-gradient(to bottom, #7cbfeb, #257bb0);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Philosopher', sans-serif;
  color: #F0F2F4;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: auto 10px auto 10px;
}

.btn:hover {
  background: #9fcfed;
  background-image: -webkit-linear-gradient(top, #9fcfed, #1d699c);
  background-image: -moz-linear-gradient(top, #9fcfed, #1d699c);
  background-image: -ms-linear-gradient(top, #9fcfed, #1d699c);
  background-image: -o-linear-gradient(top, #9fcfed, #1d699c);
  background-image: linear-gradient(to bottom, #9fcfed, #1d699c);
  text-decoration: none;
}


body{
  margin: 0;
}

h1{
  vertical-align: auto;
  text-align: center;
  margin-top: 30%;
}
